
@media only screen and (max-width: 600px) {
    /* For mobile phones: */
    [class*="col-"] {
      width: 100%;
    }
  }
body{
margin: 0;
text-align: center;
background-color: rgb(236, 233, 233);
}


.grid-container {
    display: grid;
    grid-template-rows: 1fr 5fr 1fr;
    grid-template-columns: 30vw 70vw;
    height: 90vh;
    width: 100%;
    }


.header-container {
        grid-column: 1/3;
        grid-row: 1;
        padding: 20px;
    }

.header-flex{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Praise', cursive;
    font-family: 'Rye', cursive;
}
.icons-flex {
    display: flex;
}
nav a {
    display: flexbox;
    font-size: 30px;
    color: #333;
    font-weight: bold;
    margin: 0 20px;
    text-align: center;
    text-decoration: underline;
}

a {
    text-decoration: none;
}

a:hover{
    color: teal;
}

.profile-img{
    display: flexbox;
    padding-left: 50px;
    border-radius: 50%;
}

.main-container {
    display: flexbox;
    grid-column: 1/3;
    grid-row: 2;
    height: 150vh;
    background-image: url(assets/coffeesunflower.jpeg);
    background-size: cover;
    font-family: 'Style Script', cursive;
    text-align: right;
    color: teal;
    font-size: 78px;
    padding-top: 20px;
    padding-right: 210px;
}

.sidebar-container {
    grid-column: 1/3;
    grid-row: 3;
    padding: 15px;
    background-color: rgba(175, 238, 238, 0.829);
}
.image {
    border-radius: 50px;
}

.sidebar-tagline {
    font-size: 30px;
    font-family: 'Praise', cursive;
    font-family: 'Rye', cursive;
    text-align: center;
    line-height: 25px;
    color:#333;
    padding: 30px 30px 30px 30px;
}

.bottom-container {
    grid-column: 2/3;
    grid-row: 3;
    font-size: 15px;
    font-family: 'Praise', cursive;
    font-family: 'Rye', cursive;
    text-align: center;
    padding-bottom: 60px;
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 90px;
}

.bottom-img {
    align-items: center;
    margin: 30px;
    grid-row: 4;
    grid-column: 1/3;

}





